<ion-content>
  <button ion-button full (click)="startMonitor()" (click)="startMonitor()">Start Motion</button>
  <button ion-button full color="secondary" (click)="stopMonitor()">Stop Motion</button>
  <button ion-button full color="secondary" (click)="toScrollRight()">scrollToRight</button>
  <button ion-button full color="secondary" (click)="toScrollLeft()">scrollToLeft</button>

  <p>{{scrollUnitX}}</p>
  <ion-card *ngIf="accData">
    <!-- <ion-card-content>
      <h2>x: {{accData.x | number:'1.4-4'}}</h2>
      <h2>y: {{accData.y | number:'1.4-4'}}</h2>
      <h2>z: {{accData.z | number:'1.4-4'}}</h2>
    </ion-card-content> -->

    <ion-card-content>
     
      <!-- <h2>headingAccuracy: {{headingAccuracy}}</h2>
      <h2>magneticHeading: {{magneticHeading}}</h2> -->
      <h2>rawDataPoolX[0]:     {{rawDataPoolX[0]}}</h2>
      <h2>rawDataPoolX[1]:     {{rawDataPoolX[1]}}</h2>
    </ion-card-content>
  </ion-card>

  <ion-content #content start-x="500"  style="white-space:nowrap; height:1000px;">
    <div class="wrapper">
      <div *ngFor="let card of cards">
        <label class="flipContainer">
          <input type="checkbox" />

          <div class="theCard">
            <div id="questionSide" style="">{{card}}</div>
            <div class="back">Answer</div>
          </div>
        </label>
      </div>
    </div>
  </ion-content>








</ion-content>
