.ios, .md {
 
    photo-tilt {
 
        .mask img {
 
            max-width: none;

            margin: 0%;
            
            -webkit-transition: -webkit-transform 0.2s linear;
            -moz-transition: -moz-transform 0.2s linear;
            -ms-transition: -ms-transform 0.2s linear;
            transition: transform 0.2s linear;
 
            -webkit-transform: translate3d(0,0,0);
            -moz-transform:    translate3d(0,0,0);
            -ms-transform:     translate3d(0,0,0);
            transform:         translate3d(0,0,0);
 
        }

        .iCardsWrapper{
            display: inline-flex;
            flex-wrap: nowrap;
            width: 20000px;
            height: 100%;
            margin-left: 100px;
          }
          
          .iCard{
            width: 180px;
            height: 220px;
            padding: 20px;
            font-size: 60px;
            font-family: fantasy;
            text-align: center;
            color: white;
            background: gray;
            margin: 20px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          }
    }
}