<!-- <div #mask class="mask"> -->
<!-- <img #image src="http://farm5.staticflickr.com/4016/4251578904_f13592585c_b.jpg" (load)="initTilt()"/> -->
<!-- <ion-content>
  <ion-scroll #mask class="mask" scrollX="true" style="white-space:nowrap;height: 800px;">
        <img #image src="http://farm5.staticflickr.com/4016/4251578904_f13592585c_b.jpg" />
        <img src="http://farm5.staticflickr.com/4016/4251578904_f13592585c_b.jpg" />
  </ion-scroll>

  
</ion-content> -->
<!-- <div #mask class="mask">
  <img #image src="http://farm5.staticflickr.com/4016/4251578904_f13592585c_b.jpg" />
</div> -->


<ion-content padding #content  scrollX="true"  style="width: 100%; height: 380px;">
  <!-- <ion-scroll  scrollX="true" style="width: 100%; height: 280px;"> -->
    <div class="iCardsWrapper" #cardWrapper>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
      <div class="iCard"></div>
    </div>
  <!-- </ion-scroll> -->
</ion-content>
<button ion-button (click)="scrollToRight()">right 500px</button>
<button ion-button (click)="scrollToLeft()">left 500px</button>



<!-- </div> -->

<!-- <button ion-button full (mousedown)='mouseDown()' (mouseup)='mouseUp()' (touchstart)='mouseDown()' (touchend)='mouseUp()'
  style="padding: 30px;">active</button> -->
